.banner{
  background: rgba(36, 107, 173, 0.9);
  background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%);
  background: linear-gradient(135deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%);
  @apply pt-48;
  @apply relative;
  height: calc(100vh + 80px);
}
.banner::after{
  content: "";
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 78px;
  background: url(../public/image/bottom_banner.png) no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  position: absolute;
}
.bgBanner{
  background-image: url(../public/image/bg_banner.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: calc(100vh + 80px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.descBanner{
  @apply text-center;
  @apply text-white;
  @apply container;
  @apply mx-auto;
  @apply relative;
  @apply z-10;
  @apply -mb-48;
}

@screen lg {
  @apply w-2/3;
}