.banner{
  background: rgba(36, 107, 173, 0.7);
  background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%);
  background: linear-gradient(135deg, rgba(36, 107, 173, 0.7) 0%, rgba(0, 200, 200, 0.7) 100%);
  @apply relative;
}
.bgDonation{
  background-image: url(../public/image/banner.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}