@tailwind base;
@tailwind components;

.containerGlobal{ @apply container; }
.relativeGlobal{ @apply relative; }
.my8{ @apply my-8; }
.mb8{ @apply mb-8; }
.mb6{ @apply mb-6; }
.mb12{ @apply mb-12; }
.mrAuto{ @apply mb-auto; }
.textCenter{ @apply text-center; }
.cursorPinter{ @apply cursor-pointer; }

@import "https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800&amp;Raleway:300,400,500,600,700,800,900";
body{
  font-family: 'Raleway', sans-serif;
}

.button{
  @apply py-4;
  @apply px-8;
  @apply bg-white;
  @apply text-black;
  @apply rounded;
  @apply transition-all;
  @apply cursor-pointer;
}
.button:hover{
  @apply bg-black;
  @apply text-white;
}
.title-section{
  @apply text-center;
  @apply font-bold;
  @apply text-3xl;
}
.line-title-section, .line-title-section-white{
  border-radius: 5px;
  width: 80px;
  height: 4px;
  background: rgba(36, 107, 173, 1);
  background: -moz-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%);
  background: linear-gradient(135deg, rgba(36, 107, 173, 0.9) 0%, rgba(0, 200, 200, 0.9) 100%);
  box-sizing: border-box;
  margin: 24px auto 0 auto;
}
.line-title-section-white{
  background: white;
}

@tailwind utilities;