.partner{
  @apply bg-white;
  @apply py-20;
}
.title{
  @apply font-bold;
  @apply text-xl;
  @apply text-center;
  @apply mb-16;
}
.row{
  @apply flex;
  @apply flex-wrap;
  @apply justify-center;
  @apply items-center;
}
.col{
  @apply w-1/3;
  @apply px-4;
  @apply mb-8;
}

@screen md{
  .col{ @apply w-1/6;@apply mb-0; }
}